div{
    width: 100%;
    display: block;
}

input{
    width: 25%;
    height: 36px;
}

input:focus{
    outline: none;
}
button{
    width: 40px;
  height: 36px;
  border: none;
  text-align: center;
  
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  
    background-image: url(../resources/magnify.png);
    background-size: contain;
}