
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html, body, #app, #root>div {
  height: 100%;
  width: 100%;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./resources/kevin-mccutcheon-TcSckNRL9J8-unsplash.jpg);
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#header h1{
  font-family: 'Monoton', cursive;
  display: flex;
  justify-content: center;
  font-size: 5em;
  color: white;
}
section{
display: flex;
align-items: center;
justify-content: center;
}

p{
  text-align: center;
  color: antiquewhite;
  background-color: darkslategray;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.playlistContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.searchContainer{
  display: block;
  width: 100%;
}
.userPlaylist{
  display: block;
  width: 100%;
}
p:hover{
  color: black;
  box-shadow: 0 0 20px rgba(19, 19, 24, 0.6);
  background-color: rgb(232, 228, 250);
}
#search{
  display:block;
}

