
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

div{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./resources/kevin-mccutcheon-TcSckNRL9J8-unsplash.jpg);
}

header h1{
  font-family: 'Monoton', cursive;
  display: flex;
  justify-content: center;
  font-size: 5em;
  color: white;
}